services:
  web:
    image: ghcr.io/anthrar/rgz7:latest
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: very_strong_assword
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: